.fc-header {
  height: 55px;
  width: 100%;
  background: #202124;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 15px;

    @include breakpoint-up(ml) {
      width: 80%;
      margin: 0 auto;
    }

    @include breakpoint-up(ml) {
      width: 60%;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
  }

  &__nav {
    display: flex;
    &-item {
      font-size: 14px;
      font-weight: 500;
      padding: 5px;
      margin-left: 10px;
    }
  }

  &__user {
    @include icon(user);

    &:after {
      font-size: 16px;
    }
  }
}

.locale-switcher {
  img {
    max-width: 20px;
  }

  &__locale-list {
    display: flex;
    flex-direction: column;
  }

  &__locale {
    display: flex;

    img {
      max-width: 20px;
      margin-right: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
