.fc-jumbotron {
  background: rgb(211, 209, 210);
  background: linear-gradient(
    180deg,
    rgba(211, 209, 210, 1) 0%,
    rgba(229, 229, 228, 1) 80%,
    rgba(250, 247, 253, 1) 100%
  );
  position: relative;
  padding: 25px 0;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include breakpoint-up(m) {
      flex-direction: row;
      padding: 0 20px 40px 20px;
      width: 80%;
    }

    @include breakpoint-up(l){
      width: 60%;
    }
  }
  &__text {
    flex-grow: 2;
    margin-bottom: 30px;
  }
  &__text-heading {
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__text-text {
    font-size: 16px;
    line-height: 24px;
  }

  &__image {
    display: flex;
    margin: 0 auto 30px auto;
    max-width: 400px;

    @include breakpoint-up(m) {
      min-width: 300px;
      margin: auto 0;
    }
  }

  &__children {
    display: flex;
    align-content: center;
    justify-content: center;

    @include breakpoint-up(m) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px;
      margin: 0 auto;
    }
  }
}
