.exercise-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__name {
    font-size: 1rem;
    font-weight: 500;
  }

  &__duration {
    font-size: 1rem;
    font-weight: 500;
  }
}
