@mixin icon($icon, $position: 'after') {
  &:#{$position} {
    @extend .icon--#{$icon};
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    @content;
  }
}
