@import './icomoon.scss';

@mixin breakpoint-up($type) {
  $min-width: map-get(
    (
      'sm': '480px',
      'm': '813px',
      'l': '1000px',
      'xl': '1600px',
    ),
    $type
  );

  @media only screen and (min-width: $min-width) {
    @content;
  }
}

// TODO: move these into their own file or file group by some criterium?
@mixin hover {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin elipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
