.icon {
  &--cross {
    content: '\ea0f';
  }

  &--play {
    content: '\ea1c';
  }
  &--pause {
    content: '\ea1d';
  }

  &--previous {
    content: '\ea23';
  }

  &--next {
    content: '\ea24';
  }

  &--play-2 {
    content: '\ea15';
  }

  &--pause-2 {
    content: '\ea16';
  }

  &--previous-2 {
    content: '\ea18';
  }

  &--next-2 {
    content: '\ea19';
  }

  &--facebook {
    content: '\ea91';
  }

  &--instragram {
    content: '\ea92';
  }

  &--twitter {
    content: '\ea96';
  }

  &--linkedin {
    content: '\eac9';
  }

  &--circle-close {
    content: '\ea0d';
  }
}
