@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// define the icons as a sass map
$icons: (
  cross: '\ea0f',
  pause: '\ea1d',
  play: '\ea1c',
  play-2: '\ea15',
  previous: '\ea23',
  previous-2: '\ea18',
  next: '\ea24',
  next-2: '\ea19',
  pause-2: '\ea16',
  facebook: '\ea91',
  instragram: '\ea92',
  twitter: '\ea96',
  linkedin: '\eac9',
  circle-close: '\ea0d',
  circle-blocked: '\ea0e',
  info: '\ea0c',
  user: '\e971',
);

// instanciate the icons
@each $name, $icon in $icons {
  .icon--#{$name} {
    content: $icon;
  }
}
