@import "./icons.scss";

// define icomoon font-face
@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}