@import './theme';

@import '~bootstrap/scss/bootstrap';

@import './fonts';
@import './mixins';
@import './components';

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
}

.body {
  flex-grow: 1;
}

.fc-404 {
  padding: 40px 0;
  text-align: center;
}
